@charset "UTF-8";

#bodyContents{
	width: 100%;
	height: 100%;
}

#bodyContents #sideContents{
	float: left;
	width: 13%;
	height: 100%;
}	

#bodyContents #bodyContent{
	float: right;
	width: 87%;
	overflow-y: auto;
	max-height: calc(100% - 130px);
	padding: 2% 0;
}