@charset "UTF-8";

#sideMenu{
	background-color: #302D81;
	width: 100%;
	height: 100%;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#sideMenu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#sideMenu ul li{
	width: auto;
	line-height: 60px;
}

#sideMenu ul li a{
	display: block;
	color: #ffffff;
	text-decoration: none;
}

#sideMenu ul li a:not(.active):after{
	content: '\02795';
	font-size: 20px;
	margin-right: 18px;
	float: right;
}

#sideMenu ul li #panel li a:after{
	content: "";
}

#sideMenu ul li a.active:after{
	content: "\2796";
	font-size: 20px;
	margin-right: 18px;
	float: right;
}

#sideMenu ul li a img{
	width: 26px;
	height: 27px;
	margin-left: 25px;
	vertical-align: sub;
}

#sideMenu ul li a span{
	margin-left: 10px;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
}

#sideMenu ul li #panel{
	display: none;
	list-style: none;
	background-color: #302D81;
	overflow: hidden;
}

#sideMenu ul li #panel li{
	width: auto;
	height: 50px;
	line-height: 55px;
}

#sideMenu ul li #panel li a{
	display: block;
	text-decoration: none;
	margin-left: 70px;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
}
