<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">

<select id="listVat" resultType="accountDto">
		select a.*, b.custName vatSellerName, c.custName vatBuyerName from swc_vat a
		left join swc_cust b on a.vatSellerCustNo = b.custNo
		left join swc_cust c on a.vatBuyerCustNo = c.custNo
		where a.compNo = #{compNo} and a.attrib not like 'XXX%';
</select>

	<select id="detailVat" resultType="accountDto">
		select * from swc_vat where vatId = #{vatId};
	</select>

	<select id="listVatitems" resultType="accountDto">
		select * from swc_vatdata where vatId = #{vatId};
	</select>

	<select id="modalVatB" resultType="accountDto">
		select * from swc_vat where vatStatus in ('B1','B3') and attrib not like 'XXX%' and compNo = #{compNo}
	</select>

	<select id="modalVatS" resultType="accountDto">
		select * from swc_vat where vatStatus in ('S1','S3') and attrib not like 'XXX%' and compNo = #{compNo}
	</select>

	<select id="checkVat" resultType="accountDto">
		select count(*) as resultCount from swc_vat where vatSerial = #{vatSerial}
	</select>

<insert id="insertVat">
	insert into swc_vat
	(
		compNo,
		vatBuyerCustNo,
		vatSellerCustNo,
		vatStatus,
		vatNo,
		vatIssueDate,
		vatTradeDate,
		vatType,
		vatTax,
		vatAmount,
		vatRemark,
		regDate,
		attrib) 
		values 
	(
		#{compNo},
		#{vatBuyerCustNo},
		#{vatSellerCustNo},
		#{vatStatus},
		#{vatNo},
		#{vatIssueDate},
		#{vatTradeDate},
		#{vatType},
		#{vatTax},
		#{vatAmount},
		#{vatRemark},
		now(),
		'100001'
	);
</insert>

	<insert id="insertVatItem">
		insert into swc_vatdata
(vatId,
tradeDate,
itemNo,
itemTitle,
itemUnit,
itemNetprice,
itemQuty,
itemAmount,
itemVat,
itemRemark,
linkedDocNo,
regDate,
attrib) values (#{vatId},
				#{tradeDate},
				#{itemNo},
				#{itemTitle},
				#{itemUnit},
				#{itemNetprice},
				#{itemQuty},
				#{itemAmount},
				#{itemVat},
				#{itemRemark},
				#{linkedDocNo},
				now(),
				'100001');
	</insert>

</mapper>