<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cont">

<select id="listCont"
 		resultType="contDto">
 		select a.*, b.userName , c.custName, d.desc03 contTypeN, g.desc03 cntrctMthN
 		from swc_cont a
		left join swc_user b on a.userNo = b.userNo
		left join swc_cust c on a.custNo = c.custNo
		left join swc_code d on a.contType = d.codeNo
 		left join swc_code g on a.cntrctMth = g.codeNo
		where a.attrib not like 'XXX%' and a.compNo = #{compNo}
		order by regDatetime desc
		<if test="limit > 0">
			limit  #{limit} offset #{offset}
		</if>
 </select>
 
<select id="listCont"
 		resultType="contDto">
select subquery1.*
	 from
	  (
			select a.*, b.userName , c.custName, d.desc03 contTypeN, g.desc03 cntrctMthN
			from
				 <choose>
					 <when test="freemaintSdate != null and freemaintSdate != '' and freemaintEdate != null and freemaintEdate != ''">
						 (
							 select * from swc_cont where (date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
							 UNION
							 select * from swc_cont where (date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
							 UNION
							 select * from swc_cont where (date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
							 UNION
							 select * from swc_cont where (date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintSdate} and date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintEdate})
							 UNION
							 select * from swc_cont where (date_format(paymaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(paymaintEdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
							 UNION
							 select * from swc_cont where (date_format(paymaintSdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(paymaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
							 UNION
							 select * from swc_cont where (date_format(paymaintSdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(paymaintEdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
							 UNION
							 select * from swc_cont where (date_format(paymaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintSdate} and date_format(paymaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintEdate})
						 ) a
					 </when>
					 <otherwise>
						 swc_cont a
					 </otherwise>
				 </choose>
			left join swc_user b on a.userNo = b.userNo
			left join swc_cust c on a.custNo = c.custNo
			left join swc_code d on a.contType = d.codeNo
			left join swc_code g on a.cntrctMth = g.codeNo
			where a.attrib not like 'XXX%' and a.compNo = #{compNo}
			<if test="userNo != null and userNo > 0">
				and a.userNo = #{userNo}
			</if>
			<if test="contNo != null and contNo > 0">
				and a.contNo = #{contNo}
			</if>
			<if test="custNo != null and custNo > 0">
				and a.custNo = #{custNo}
			</if>
			<if test="custMemberNo != null and custMemberNo > 0">
				and a.custMemberNo = #{custMemberNo}
			</if>
			<if test="buyrNo != null and buyrNo > 0">
				and a.buyrNo = #{buyrNo}
			</if>
			<if test="buyrMemberNo != null and buyrMemberNo > 0">
				and a.buyrMemberNo = #{buyrMemberNo}
			</if>
			<if test="contTitle != null and contTitle != ''">
				and a.contTitle = #{contTitle}
			</if>
			<if test="contType != null and contType != ''">
				and a.contType = #{contType}
			</if>
			<if test="cntrctMth != null and cntrctMth != ''">
				and a.cntrctMth = #{cntrctMth}
			</if>
			<if test="targetDatefrom != null and targetDatefrom != ''">
				and date_format(a.contOrddate, '%Y-%m-%d') <![CDATA[>=]]> #{targetDatefrom}
			</if>
			<if test="targetDateto != null and targetDateto != ''">
				and date_format(a.contOrddate, '%Y-%m-%d') <![CDATA[<=]]> #{targetDateto}
			</if>
			<if test="regSDate != null and regSDate != ''">
				and date_format(a.regDatetime, '%Y-%m-%d') <![CDATA[>=]]> #{regSDate}
			</if>
			<if test="regEDate != null and regEDate != ''">
				and date_format(a.regDatetime, '%Y-%m-%d') <![CDATA[<=]]> #{regEDate}
			</if>
 	 ) subquery1
	 <if test="sSearch != null and sSearch != ''">
		 where
		 date_format(subquery1.regdatetime, '%Y-%m-%d') like concat('%',#{sSearch},'%')
		 or subquery1.contTypeN like concat('%',#{sSearch},'%')
		 or subquery1.cntrctMthN like concat('%',#{sSearch},'%')
		 or subquery1.contTitle like concat('%',#{sSearch},'%')
		 or subquery1.custName like concat('%',#{sSearch},'%')
		 or subquery1.contAmt like concat('%',#{sSearch},'%')
		 or subquery1.net_profit like concat('%',#{sSearch},'%')
		 or subquery1.userName like concat('%',#{sSearch},'%')
		 or date_format(subquery1.freemaintSdate, '%Y-%m-%d') like concat('%',#{sSearch},'%')
		 or date_format(subquery1.freemaintEdate, '%Y-%m-%d') like concat('%',#{sSearch},'%')
		 or date_format(subquery1.paymaintSdate, '%Y-%m-%d') like concat('%',#{sSearch},'%')
		 or date_format(subquery1.paymaintEdate, '%Y-%m-%d') like concat('%',#{sSearch},'%')
		 or subquery1.contOrddate like concat('%',#{sSearch},'%')
	 </if>

	 <if test="'desc' == orderOption">
		 order by ${orderColumn} desc
	 </if>
	 <if test="'asc' == orderOption">
		 order by ${orderColumn} asc
	 </if>
	 <if test="limit > 0">
		 limit #{limit} offset #{offset}
	 </if>
</select>


<select id="listContCnt"
		resultType="contDto">
	select count(*)
	from
		(
			select subquery1.*
			from
			(
				select a.*, b.userName , c.custName, d.desc03 contTypeN, g.desc03 cntrctMthN
				from
				<choose>
					<when test="freemaintSdate != null and freemaintSdate != '' and freemaintEdate != null and freemaintEdate != ''">
						(
						select * from swc_cont where (date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
						UNION
						select * from swc_cont where (date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
						UNION
						select * from swc_cont where (date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
						UNION
						select * from swc_cont where (date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintSdate} and date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintEdate})
						UNION
						select * from swc_cont where (date_format(paymaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(paymaintEdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
						UNION
						select * from swc_cont where (date_format(paymaintSdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(paymaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
						UNION
						select * from swc_cont where (date_format(paymaintSdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and date_format(paymaintEdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate})
						UNION
						select * from swc_cont where (date_format(paymaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintSdate} and date_format(paymaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintEdate})
						) a
					</when>
					<otherwise>
						swc_cont a
					</otherwise>
				</choose>
				left join swc_user b on a.userNo = b.userNo
				left join swc_cust c on a.custNo = c.custNo
				left join swc_code d on a.contType = d.codeNo
				left join swc_code g on a.cntrctMth = g.codeNo
				where a.attrib not like 'XXX%' and a.compNo = #{compNo}
				<if test="userNo != null and userNo > 0">
					and a.userNo = #{userNo}
				</if>
				<if test="contNo != null and contNo > 0">
					and a.contNo = #{contNo}
				</if>
				<if test="custNo != null and custNo > 0">
					and a.custNo = #{custNo}
				</if>
				<if test="custMemberNo != null and custMemberNo > 0">
					and a.custMemberNo = #{custMemberNo}
				</if>
				<if test="buyrNo != null and buyrNo > 0">
					and a.buyrNo = #{buyrNo}
				</if>
				<if test="buyrMemberNo != null and buyrMemberNo > 0">
					and a.buyrMemberNo = #{buyrMemberNo}
				</if>
				<if test="contTitle != null and contTitle != ''">
					and a.contTitle = #{contTitle}
				</if>
				<if test="contType != null and contType != ''">
					and a.contType = #{contType}
				</if>
				<if test="cntrctMth != null and cntrctMth != ''">
					and a.cntrctMth = #{cntrctMth}
				</if>
				<if test="targetDatefrom != null and targetDatefrom != ''">
					and date_format(a.contOrddate, '%Y-%m-%d') <![CDATA[>=]]> #{targetDatefrom}
				</if>
				<if test="targetDateto != null and targetDateto != ''">
					and date_format(a.contOrddate, '%Y-%m-%d') <![CDATA[<=]]> #{targetDateto}
				</if>
				<if test="regSDate != null and regSDate != ''">
					and date_format(a.regDatetime, '%Y-%m-%d') <![CDATA[>=]]> #{regSDate}
				</if>
				<if test="regEDate != null and regEDate != ''">
					and date_format(a.regDatetime, '%Y-%m-%d') <![CDATA[<=]]> #{regEDate}
				</if>
			) subquery1
			<if test="sSearch != null and sSearch != ''">
				where
				date_format(subquery1.regdatetime, '%Y-%m-%d') like concat('%',#{sSearch},'%')
				or subquery1.contTypeN like concat('%',#{sSearch},'%')
				or subquery1.cntrctMthN like concat('%',#{sSearch},'%')
				or subquery1.contTitle like concat('%',#{sSearch},'%')
				or subquery1.custName like concat('%',#{sSearch},'%')
				or subquery1.contAmt like concat('%',#{sSearch},'%')
				or subquery1.net_profit like concat('%',#{sSearch},'%')
				or subquery1.userName like concat('%',#{sSearch},'%')
				or date_format(subquery1.freemaintSdate, '%Y-%m-%d') like concat('%',#{sSearch},'%')
				or date_format(subquery1.freemaintEdate, '%Y-%m-%d') like concat('%',#{sSearch},'%')
				or date_format(subquery1.paymaintSdate, '%Y-%m-%d') like concat('%',#{sSearch},'%')
				or date_format(subquery1.paymaintEdate, '%Y-%m-%d') like concat('%',#{sSearch},'%')
				or subquery1.contOrddate like concat('%',#{sSearch},'%')
			</if>

			<if test="'desc' == orderOption">
				order by ${orderColumn} desc
			</if>
			<if test="'asc' == orderOption">
				order by ${orderColumn} asc
			</if>
			<if test="limit > 0">
				limit #{limit} offset #{offset}
			</if>
		) t
</select>

<select id="detailCont"
 		resultType="contDto">
	select a.*,
		   b.userName ,
		   c.soppTitle,
	       e.desc03 as cntrctMthN,
	       (select custName from swc_cust where custNo = a.custNo) custName,
		   (select q.custMname from swc_custData03 q where q.custData03no = a.custMemberNo) custMemberName,
	       (select custName from swc_cust where custNo = a.buyrNo) buyrName,
	       (select q.custMname from swc_custData03 q where q.custData03no = a.buyrMemberNo) buyrMemberName,
		   (select custName from swc_cust where custNo = a.ptncNo) ptncName,
		   (select custName from swc_cust where custNo = a.supplyNo) supplyName,
		   (select contTitle from swc_cont where contNo = a.exContNo) exContName
	from swc_cont a
			 left join swc_user b on a.userNo = b.userNo
			 left join swc_sopp c on a.soppNo = c.soppNo
			 left join swc_code e on a.cntrctMth = e.codeNo
	where a.attrib not like 'XXX%' and a.contNo=#{contNo} order by a.contNo
</select>

<select id="listSalesTargetMonthIndividual"
		resultType="contDto">
	select
		count(*) contTypeCount
	from swc_cont a
			 left join swc_code b on a.contType = b.codeNo
	where a.compNo = #{compNo}
	  and a.attrib not like 'XXX%'
	  and date_format(a.contOrddate, '%Y-%m') = CONCAT(#{targetYear},'-',#{targetMonth})
	  and a.userNo = #{userNo}
	  and a.contType = #{contType}
</select>
 
 <insert id="insertCont">
 insert into swc_cont (contTitle, contDesc, compNo, soppNo, exContNo, userNo, custNo, custMemberNo, ptncNo, supplyNo, contOrddate,
                       supplyDate, delivDate, contAmt, freemaintSdate, freemaintEdate, paymaintSdate, paymaintEdate, vatYn, contArea, cntrctMth,
                       contType,net_profit ,attrib, buyrNo, buyrMemberNo
                       )
 values (#{contTitle}, #{contDesc}, #{compNo}, #{soppNo}, #{exContNo}, #{userNo}, #{custNo}, #{custMemberNo}, #{ptncNo}, #{supplyNo}, #{contOrddate},
         #{supplyDate}, #{delivDate}, #{contAmt}, #{freemaintSdate}, #{freemaintEdate}, #{paymaintSdate}, #{paymaintEdate}, #{vatYn}, #{contArea}, #{cntrctMth},
         #{contType}, #{net_profit},'100000', #{buyrNo}, #{buyrMemberNo}
         )
 </insert>

 <update id="updateCont">
	update swc_cont 
	set
		soppNo=#{soppNo},
		cntrctMth=#{cntrctMth},
		contType=#{contType},
		exContNo=#{exContNo},
		userNo=#{userNo},
		custNo=#{custNo},
		custMemberNo=#{custMemberNo},
		contTitle=#{contTitle},
		contDesc=#{contDesc},
		buyrNo=#{buyrNo},
		buyrMemberNo=#{buyrMemberNo},
		ptncNo=#{ptncNo},
		ptncMemberNo=#{ptncMemberNo},
		supplyNo=#{supplyNo},
		supplyMemberNo=#{supplyMemberNo},
		contOrddate=#{contOrddate},
		supplyDate=#{supplyDate},
		delivDate=#{delivDate},
		contAmt=#{contAmt},
		vatYn=#{vatYn},
		net_profit=#{net_profit},
		freemaintSdate=#{freemaintSdate},
		freemaintEdate=#{freemaintEdate},
		paymaintSdate=#{paymaintSdate},
		paymaintEdate=#{paymaintEdate},
		contArea=#{contArea},
		modDatetime=now()
	where contNo=#{contNo}
 </update>
 
 <delete id="deleteCont">
	update swc_cont 
	set attrib = 'XXXXX'
	where contNo=#{contNo}
 </delete>
 		
</mapper>