<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gw">

	<select id="listDoc" resultType="gwDto">
	    select a.*, b.userName from swc_businessdoc a left join swc_user b on a.docCrUserNo = b.userNo left join swc_businessdocapp c on a.docNo = c.docNo where a.attrib not like 'XXX%' and c.compNo = #{compNo} and a.docStatus != 1;
	</select>

    <select id="detailDoc" resultType="gwDto">
        select a.*, b.soppTitle, c.custName from swc_businessdoc a left join swc_sopp b on a.linkSoppNo = b.soppNo left join swc_cust c on a.linkCustNo = c.custNo where a.attrib not like 'XXX%' and a.docNo=#{docNo};
    </select>
    
    <select id="detailDocApp" resultType="gwDto">
        select a.*, b.userName from swc_businessdocapp a left join swc_user b on a.userNoIS = b.userNo where a.attrib not like 'XXX%' and a.docNo=#{docNo};
    </select>
    
    <select id="detailDocData" resultType="gwDto">
        select * from swc_businessdocdata where attrib not like 'XXX%' and docNo=#{docNo};
    </select>
    
    <select id="selectVersion" resultType="gwDto">
        select IFNULL(MAX(estVer), 0)+1 as getVersion from swc_estitems where estId = #{estId} and compNo = #{compNo};
    </select>

    <insert id="insertest">
	    <selectKey resultType="int" keyProperty="estVer" order="BEFORE">
				select IFNULL(MAX(estVer), 0)+1 from swc_est where estId = #{estId} and compNo = #{compNo}
	 	</selectKey>
	    insert into swc_est(
	    	estId,
	    	estVer,
	    	estTitle,
	    	estType,
	    	custNo,
	    	soppNo,
	    	compNo,
	    	userNo,
	    	estAmount,
	    	estVat,
	    	estTotal,
	    	estDate,
	    	attrib
	    ) values (
	    	#{estId},
	    	#{estVer},
	    	#{estTitle},
	    	#{estType},
	    	#{custNo},
	    	#{soppNo},
	    	#{compNo},
	    	#{userNo},
	    	#{estAmount},
	    	#{estVat},
	    	#{estTotal},
	    	#{estDate},
	        '10000'
	    );
    </insert>
    
    <!-- <update id="updateest">
		update swc_est set
			attrib = 'XXXXX',
			modDate = now()
		where estId = #{estId};
		
		update swc_estitems set
			attrib = 'XXXXX',
			modDate = now()
		where estId = #{estId};
	</update> -->

    <insert id="insertestitems">
	    insert into swc_estitems(
	    	estId,
	    	estVer,
	    	custNo,
	    	compNo,
	    	productNo,
	    	productName,
	    	productSpec,
	    	productQty,
	    	productNetprice,
	    	productVat,
	    	productAmount,
	    	productDis,
	    	productTotal,
	    	productRemark,
	    	regDate,
	    	attrib
	    ) values (
	    	#{estId},
	    	#{estVer},
	    	#{custNo},
	    	#{compNo},
	    	#{productNo},
	    	#{productName},
	    	#{productSpec},
	    	#{productQty},
	    	#{productNetprice},
	    	#{productVat},
	    	#{productAmount},
	    	#{productDis},
	    	#{productTotal},
	    	#{productRemark},
	    	now(),
	        '10000'
	    );
    </insert>

	<update id="deleteest">
		update swc_est set
			attrib = "XXXXX",
		    ModDate = now()
		where estId = #{estId};
		
		update swc_estitems set
			attrib = "XXXXX",
		    ModDate = now()
		where estId = #{estId};
	</update>

	<select id="listest" resultType="gwDto">
		SELECT a.*, b.custName, c.userName FROM swc_est a left join swc_cust b on a.custNo = b.custNo left join swc_user c on a.userNo = c.userNo WHERE(estId, estVer) IN (SELECT estId, MAX(estVer) FROM swc_est where compNo = #{compNo} and attrib not like 'XXX%' GROUP BY estId);
	</select>
	
	<select id="listsearchest" resultType="gwDto">
		SELECT a.*, b.custName, c.userName
		from swc_est a
		left join swc_cust b on a.custNo = b.custNo 
		left join swc_user c on a.userNo = c.userNo
		WHERE(estId, estVer) IN (SELECT estId, MAX(estVer) FROM swc_est 
		where compNo = #{compNo} and attrib not like 'XXX%' 
		<if test="custNo != null and custNo != ''">
 		 	and a.custNo = #{custNo}
 		</if>
		<if test="userName != null and userName != ''">
 		 	and c.userName like CONCAT('%', #{userName}, '%')
 		</if>
		GROUP BY estId)
	</select>

	<select id="detailest" resultType="gwDto">
		select a.*, b.custName, c.soppTitle from swc_est a LEFT JOIN swc_cust b ON a.custNo = b.custNo LEFT JOIN swc_sopp c ON a.soppNo = c.soppNo where a.estId=#{estId} and a.estVer = #{estVer} limit 1;
	</select>

	<select id="listestitems" resultType="gwDto">
		select a.*, b.custName from swc_estitems a LEFT JOIN swc_cust b ON a.custNo = b.custNo where a.estId=#{estId} and a.estVer = #{estVer} and a.attrib not like 'XXX%';
	</select>

	<select id="myList" resultType="gwDto">
		select a.*, b.appStatus from swc_businessdoc a left join swc_businessdocapp b on a.docNo = b.docNo where a.attrib not like 'XXX%' and a.docCrUserNo = #{docCrUserNo};
	</select>
	
	<select id="mySearchList" resultType="gwDto">
		select a.*, b.appStatus from swc_businessdoc a 
		left join swc_businessdocapp b on a.docNo = b.docNo
		left join swc_user c on a.docCrUserNo = c.userNo
		where a.attrib not like 'XXX%' and a.docCrUserNo = #{docCrUserNo}
		<if test="custNo != null and custNo != ''">
 		 	and a.linkCustNo = #{custNo}
 		</if>
		<if test="userName != null and userName != ''">
 		 	and c.userName like CONCAT('%', #{userName}, '%')
 		</if>
 		<if test="vatSdate != null and vatSdate != ''">
 		 	and a.docDate BETWEEN #{vatSdate} and #{vatEdate}
 		</if>;
	</select>
	
	<select id="myDocList" resultType="gwDto">
		select a.*, c.userName as userIsName, b.appStatus from swc_businessdoc a 
		left join swc_businessdocapp b on a.docNo = b.docNo 
		left join swc_user c on c.userNo = b.userNoIS 
		where a.attrib not like 'XXX%' and b.compNo = #{compNo} and a.docStatus = 2 and b.appStatus BETWEEN 2 and 4 and b.appStatus != 3;
	</select>
	
	<select id="myDocSerchList" resultType="gwDto">
		select a.*, c.userName as userIsName, b.appStatus from swc_businessdoc a 
		left join swc_businessdocapp b on a.docNo = b.docNo 
		left join swc_user c on c.userNo = b.userNoIS
		left join swc_user d on a.docCrUserNo = d.userNo 
		where a.attrib not like 'XXX%' and b.compNo = #{compNo} 
		<if test="custNo != null and custNo != ''">
 		 	and a.linkCustNo = #{custNo}
 		</if>
		<if test="userName != null and userName != ''">
 		 	and d.userName like CONCAT('%', #{userName}, '%')
 		</if>
 		<if test="vatSdate != null and vatSdate != ''">
 		 	and a.docDate BETWEEN #{vatSdate} and #{vatEdate}
 		</if>
		and a.docStatus = 2 and b.appStatus BETWEEN 2 and 4 and b.appStatus != 3;
	</select>
	
	<select id="getEstSopp" resultType="gwDto">
		SELECT a.*, b.custName, c.userName FROM swc_est a left join swc_cust b on a.custNo = b.custNo left join swc_user c on a.userNo = c.userNo WHERE(estId, estVer) IN (SELECT estId, MAX(estVer) FROM swc_est where soppNo = #{soppNo} and compNo = #{compNo} and attrib not like 'XXX%' GROUP BY estId);
	</select>

	<insert id="insertDoc" useGeneratedKeys="true" keyProperty="getId">
		<selectKey keyProperty="getId" resultType="int" order="AFTER">
	        SELECT max(docNo) from swc_businessdoc
	    </selectKey>
		insert into swc_businessdoc (
			docCrUserNo,
			docAppLvl,
			docType,
			docTitle,
			docStatus,
			linkSoppNo,
			linkMasterdocNo,
			docDesc,
			docFormNo,
			docAmount,
			docDate,
			regDate,
			attrib
		) values (
		 	#{docCrUserNo},
		 	#{docAppLvl},
		 	#{docType},
		 	#{docTitle},
		 	#{docStatus},
		 	#{linkSoppNo},
		 	#{linkMasterdocNo},
		 	#{docDesc},
		 	#{docFormNo},
		 	#{docAmount},
		 	#{docDate},
		 	now(),
		 	'10000'
	 	);
	</insert>
	
	<insert id="insertDocApp">
		insert into swc_businessdocapp (
			compNo,
			docNo,
			userNoCR,
			userNoIS,
			userNoAPP,
			appStatus,
			<if test="appDate != '' and appDate != null">
				appDate,
				appComment,
			</if>
			regDate,
			attrib
		) values (
		 	#{compNo},
		 	#{docNo},
		 	#{userNoCR},
		 	#{userNoIS},
		 	#{userNoAPP},
		 	#{appStatus},
		 	<if test="appDate != '' and appDate != null">
				#{appDate},
				#{appComment},
			</if>
		 	now(),
		 	'10000'
	 	);
	</insert>
	
	<insert id="insertDocData">
		insert into swc_businessdocdata (
			docNo,
			custName,
			productName,
			productNetprice,
			productQty,
			productAmount,
			productVat,
			productTotal,
			productRemark,
			regDate,
			attrib
		) values (
		 	#{docNo},
		 	#{custName},
		 	#{productName},
		 	#{productNetprice},
		 	#{productQty},
		 	#{productAmount},
		 	#{productVat},
		 	#{productTotal},
		 	#{productRemark},
		 	now(),
		 	'10000'
	 	);
	</insert>
	
	<insert id="uploadFile">
		insert into swc_businessfiledata
		(
			fileId,
			fileName,
			fileDesc,
			uploadDate,
			fileContent,
			docNo,
			userNo,
			regDatetime,
			attrib
		)
	 	values 
	 	(
	 		#{fileId},
	 		#{fileName},
	 		#{fileDesc},
	 		now(),
	 		#{fileContent},
	 		#{docNo},
	 		#{userNo},
	 	 	now(),
			10000
	 	)
	</insert>
	
	<update id="uploadFileUpdate">
		update swc_businessfiledata set
			fileId = #{fileId},
			fileName = #{fileName},
			fileDesc = #{fileDesc},
			fileContent = #{fileContent},
			userNo = #{userNo},
			ModDatetime = now()
		where docNo = #{docNo}
	</update>
	
	<select id="listFile" resultType="gwFileDataDTO">
	 	select * from swc_businessfiledata
	 	where docNo=#{docNo}
	 	and attrib not like 'XXX%'
		order by uploadDate desc
	</select>
	
	<select id="downloadFile" resultType="gwFileDataDTO">
		select * from swc_businessfiledata  
		where fileId = #{fileId} and docNo=#{docNo}
	</select>
	
	<update id="updateDoc">
		update swc_businessdoc set
			docType = #{docType},
			docTitle = #{docTitle},
			linkSoppNo = #{linkSoppNo},
			linkCustNo = #{linkCustNo},
			docDesc = #{docDesc},
			docAmount = #{docAmount},
			docFormNo = #{docFormNo},
			docDate = #{docDate},
			ModDate = now()
		where docNo = #{docNo};
	</update>
	
	<update id="updateDocApp">
		update swc_businessdocapp set
			userNoAPP = #{userNoAPP},
			appStatus = #{appStatus},
			appDate = #{appDate},
			appComment = #{appComment},
			ModDate = now()
		where docNo = #{docNo};
	</update>
	
	<update id="updateDocData">
		update swc_businessdocdata set
			ModDate = now(),
			attrib = 'XXXXX'
		where docNo = #{docNo};
	</update>

	<update id="deleteDoc">
		update swc_businessdoc set
			attrib = "XXXXX",
		    ModDate = now()
		where docNo = #{docNo};
		
		update swc_businessdocapp set
			attrib = "XXXXX",
		    ModDate = now()
		where docNo = #{docNo};
		
		update swc_businessdocData set
			attrib = "XXXXX",
		    ModDate = now()
		where docNo = #{docNo};
		
		update swc_businessfiledata set
			attrib = "XXXXX",
		    ModDatetime = now()
		where docNo = #{docNo};
	</update>

	<select id="listUserAtt" resultType="gwDto">

		select a.*, b.userName from swc_userattend a
		left join swc_user b on a.userNo = b.userNo
		where a.compNo = #{compNo} and a.attrib not like 'XXX%' order by attStatus desc;

	</select>

	<select id="detailUserAtt" resultType="gwDto">

		select a.*, b.userName from swc_userattend a
		left join swc_user b on a.userNo = b.userNo
		where a.attendId = #{attendId};

	</select>

	<select id="listUserAttbyuser" resultType="gwDto">

		select * from swc_userattend where userNo = #{userNo} and attrib not like 'XXX%';

	</select>

	<insert id="insertUserAtt">
		insert into swc_userattend (
			compNo,
		    userNo,
			attType,
			attStart,
			attEnd,
			attTitle,
			attDesc,
			soppNo,
			regDate,
			attrib
		)
		values (
			#{compNo},
			#{userNo},
			#{attType},
			#{attStart},
			#{attEnd},
			#{attTitle},
			#{attDesc},
			#{soppNo},
			now(),
			'100001'
		);
	</insert>

	<update id="updateUserAtt">
		update swc_userattend set
			  attType = #{attType},
			  attStart = #{attStart},
			  attEnd = #{attEnd},
			  attTitle = #{attTitle},
			  attDesc= #{attDesc},
			  soppNo = #{soppNo},
			  modDate = now()
			where attendId = #{attendId};
	</update>

	<update id="Attallow">
		update swc_userattend set
								  modDate = now(),
		                          attStatus = '5'
		where attendId = #{attendId};
	</update>

	<update id="Attreject">
		update swc_userattend set
			  modDate = now(),
			  attStatus = '3',
			  attDesc = #{attDesc}
		where attendId = #{attendId};
	</update>

	<update id="deleteUserAtt">

		update swc_userattend set
			modDate = now(),
		    attrib = 'XXXUP'
		where attendId = #{attendId};

	</update>

	<select id="listdocApp" resultType="gwDto">
		select * from swc_businessdocapp where attrib not like 'XXX%' and docNo = #{docNo};
	</select>

	<select id="listmyAppdoc" resultType="gwDto">
		select * from swc_businessdocapp where attrib not like 'XXX%' and userNoAPP = ${userNo} and appDate is null ;
	</select>

	<insert id="insAppline">
		insert into swc_businessdocapp
		( 
		compNo,
		docNo,
		appLine,
		userNoCR,
		userNoIS,
		userNoAPP,
		appStatus,
		issueDate,
		regDate,
		attrib ) 
		values 
		( 
		#{compNo},
		#{docNo},
		#{appLine},
		#{userNoCR},
		#{userNoIS},
		#{userNoAPP},
		#{appStatus},
		#{issueDate},
		now(),
		'100001'  
		);
	</insert>

	<update id="updApp">
		update swc_businessdocapp set
			appDate = now(),
		    appComment = #{appComment},
		    appStatus = #{appStatus},
		    modDate = now()
		where appId = #{appId};
	</update>

</mapper>