<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gw">

<select id="listdoc" resultType="gwDto">
    select * from swc_businessdoc where attrib not like 'XXX%' and compNo = #{compNo};
 </select>

    <select id="detaildoc" resultType="gwDto">
        select * from swc_businessdoc where attrib not like 'XXX%' and compNo = #{compNo} and docNo=#{docNo};
    </select>

 <insert id="insertdoc">
    insert into swc_businessdoc(
     docCrUserNo,docType,docTitle,docStatus,linkSoppNo,linkMasterdocNo,docDesc,docFormNo,regDate,attrib
    ) values (
                  #{docCrUserNo},#{docType},#{docTitle},#{docStatus},#{linkSoppNo},#{linkMasterdocNo},#{docDesc},#{docFormNo},now(),'10000'
                 );
 </insert>

 <update id="updatedoc">
    update swc_businessdoc set
        docType = #{docType},docTitle=#{docTitle},docStatus=#{docStatus},linkSoppNo=#{linkSoppNo},linkMasterdocNo=#{linkMasterdocNo},docDesc=#{docDesc},docFormNo=#{docFormNo},modDate = now()
    where docNo = #{docNo}
 </update>

    <update id="deletedoc">
        update swc_businessdoc set
        modDate = now(), attrib='XXX00'
        where docNo = #{docNo}
    </update>
 

</mapper>