<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="image">

	<insert id="insertImage">
		insert into swc_images 
		(
		userNo,
		uuid,
		base64
		)
		values
		(
		#{userNo},
		#{uuid},
		#{base64}
		)
	</insert>

	<select id="base64" resultType="string">
		select base64 from swc_images where uuid = #{uuid}
	</select>
</mapper>