<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

<select id="loginCheck" resultType="String">
 		select userName from swc_user where userId=#{userId} and userPasswd=#{userPasswd} 
</select>

<select id="viewUser"
 		resultType="userDto">
 		select a.*, b.dataStr userRank, c.dataStr userDept from swc_user a
 		left join swc_userData b on a.userNo=b.userNo and b.catNo='100003' and b.attrib not like 'XXX%'
 		left join swc_userData c on a.userNo=c.userNo and c.catNo='100002' and c.attrib not like 'XXX%'
 		where userId=#{userId}
 </select>
 
 <select id="userList"
 		resultType="userDto">
 		select * from swc_user where compNo = #{compNo} order by userNo
 </select>
 
 <select id="userListWithOrgId" resultType="userDto">
 		select userNo, CompNo, userId, userName from swc_user where org_id = #{orgId};
 </select>
 
 <update id="updateUser">
 		update swc_user set 
 		userName=#{userName}, 
 		userPasswd=#{userPasswd},
 		userRole=#{userRole}
 		where userId=#{userId}
 </update>
  
 <insert id="insertUser">
 	insert into swc_user 
 	(compNo,userId,userName,userPasswd,userRole,attrib) 
 	values 
 	(#{compId},#{userId},#{userName},#{userPasswd},#{userRole},'10000');
 </insert>
 
 <insert id="insertUserdata">
  	<selectKey resultType="int" keyProperty="userNo" order="BEFORE">
 	select userNo from swc_user where userId=#{userId};
 	</selectKey>
 	insert into swc_userData
 	(catNo,userNo,compNo,dataStr,attrib)
 	values
 	('100003',#{userNo},#{compId},#{userRank},'10000');
 	insert into swc_userData
 	(catNo,userNo,compNo,dataStr,attrib)
 	values
 	('100002',#{userNo},#{compId},#{userDept},'10000');
 </insert>

<select id="userCheck" resultType="int">
 		select count(*) from swc_user where userId=#{userId}
</select>

<update id="updateOtp">
	<selectKey resultType="string" keyProperty="userOtp" order="BEFORE">
		SELECT FLOOR((RAND()*(99999999-10000000)+10000000)) OTP from dual;
	</selectKey>
	update swc_user set
		userOtp=#{userOtp}
		where userId=#{userId}
</update>

</mapper>